html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  background: url("../public/sb2.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  scrollbar-width: thin !important;
  scrollbar-color: #b63131 rgb(0, 0, 0) !important;
}

html {
  font-size: clamp(15px, 1vw + 0.5rem, 18px);
}



hr {
  height: 3px;
  border: none;
  background: linear-gradient(to right, #555, #aaa);
  width: min(40vw, 8rem);
  margin: 0;
  transform: translateY(-0.6rem);
  flex-shrink: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; 
    font-family: inherit !important;
    font-weight: inherit !important; 
    font-size: inherit !important; 
    -webkit-text-fill-color: #fff;
}

 


input, input:focus, input:hover {
  font-family: inherit !important;
  font-weight: inherit !important;
  font-size: inherit !important;
}


input {
  caret-color: rgb(226, 32, 32);

}
:root {
  --color: rgba(14, 13, 13, 0.7);
}

@media (min-width: 64rem) {

}


/* for the poor peple with like flip phones */
/* @media (width < 60rem) {
 html {
  font-size: 10px;
 }

 body{
  font-weight: bolder;
 }
} 

@media (width > 105rem) {
  html {
    font-size: 19px;
  }
} */
