.item {
  border: 1px solid #0c0c0c;
  border-radius: 0.25rem;
  aspect-ratio: 1;
  width: min(6vw, 10rem);
  position: relative;

  box-shadow: 0 0 0 1px rgb(29, 28, 28) inset; /* Matches tooltip bg */
  outline: none !important;
  z-index: auto;
}

.glint {
  display: block;
  user-select: none;
  position: relative;
  top: 10%;
  image-rendering: pixelated;
  width: 80%;
  height: 80%;
  margin-inline: auto;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  transition: all 0.3 ease;
}

.spacer {
  grid-column: 1/ 10;
  visibility: hidden;
  grid-row: 4/5;
  width: 100%;
  height: 2rem;
  border: none;
}

.enderSpacer {
  grid-column: span 9;
  grid-row: span 1;
  visibility: hidden;
  width: 100%;
  height: 2rem;
  border: none;
}
.pagedInv {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.inv {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  direction: rtl;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.glint:hover {
  transform: scale(1.1);
}

.lore {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  direction: ltr;
  background-color: rgba(0, 0, 0, 0.877);
  z-index: 1000;
  text-align: left;
  width: max-content;
  text-wrap: nowrap;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 0.6rem;
  min-height: auto;
  user-select: none;
  max-height: 60vh;
  scrollbar-width: thin !important;
  scrollbar-color: #b63131 rgb(0, 0, 0) !important;
  color: white;
  will-change: opacity;
  transition: opacity 0.3s ease;
}

.bold {
  font-weight: bold;
}

.name {
  margin-bottom: 0.1rem;
}
.italic {
  font-style: italic;
}


.hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
 
}

.hovered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;
  transform: translate(-50%, -50%);
 max-height: 82vh;

}

.darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999; 
}


